@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600&family=Open+Sans&display=swap');

* {
    font-family: 'Barlow', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

$red: #ed2d34;
$black: #444;
$white: #fff;
$light-color: #666;
$border: .32px solid $black;

@mixin grid ($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 32px;
}
@mixin flex($align) {
    display: flex;
    align-items: $align;
    flex-wrap: wrap;
    gap: 48px;
}
@mixin titleText($titleSize) {
    font-size: $titleSize;
    color: $black;
    text-transform: capitalize;
}
@mixin graphText($graphSize) {
    font-size: $graphSize;
    color: $light-color;
    line-height: 2;
    padding: 16px 0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 16px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: $red;
    }
}

body {
    background-image: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    &.active{
        padding-left: 480px;
     }
}

section {
    padding: 80px 9%;
}

.heading {
    text-align: center;
    @include titleText(60px);
    margin-bottom: 48px;

    span {
        color: $red;
    }
}

.btn {
    margin-top: 16px;
    display: inline-block;
    border-radius: 80px;
    padding: 19.2px 48px;
    border: $border;
    background: none;
    cursor: pointer;
    color: $black;
    font-size: 32px;
    text-transform: capitalize;

    &:hover {
        background: $red;
        border-color: $red;
        color: $white;
    }
}

.header {
    position: fixed;
    top: 0;
    left: -496px;
    height: 100%;
    width: 480px;
    background: $red;
    padding: 32px;
    z-index: 1000;

    &.active{
    left:0;
    }
}

.logo {
    font-size: 40px;
    color: $white;
    font-weight: bolder;
}

.navbar {
    padding: 30% 0;

    a{
        display: block;
        margin: 32px 0;
        font-size: 32px;
        color: $white;
    &:hover {
        text-decoration: underline;
        text-underline-offset: .112px;

        }
    }
}

.share {
    text-align: center;
    a{
        height: 80px;
        width: 80px;
        line-height: 80px;
        font-size: 32px;
        color: $black;
        background: $white;
        margin: 0 .48px;
    &:hover {
        background: black;
        color: white;
    }
    }
}

.credit {
    text-align: center;
    color: $white;
    margin-top: 48px;
    font-size: 32px;
    line-height: 1.5;
}

#menu-btn {
    position: fixed;
    top: 32px;
    left: 32px;
    background: $red;
    color: $white;
    height: 80px;
    width: 80px;
    line-height: 80px;
    font-size: 40px;
    cursor: pointer;
    z-index: 1100;
    text-align: center;

    &.fa-times {
        top: 16px;
        left: 400px;
    }
}

.banner {
    @include flex (center);
    flex-wrap: wrap-reverse;

    .content {
        flex: 1 1 656px;

    span {
        font-size: 40px;
        color: $red;
    }

    h3 {
        @include titleText(64px);
        padding-top: 16px;
    }
    
    p {
        @include graphText(27.2px);
    }
    }
}

.image {
    flex: 1 1 656px;

    img {
        width: 100%;
    }
}

.products{

    .slide{
       text-align: center;
 
       img{
          height: 400px;
          margin:80px 0;
          transform: scale(.5);
       }
 
       h3{
          padding:1rem 0;
          @include titleText(40px);
          opacity: 0;
       }
 
       .btn{
          opacity: 0;
       }
    }
 
    .swiper-slide-active{
 
       img{
          transform: scale(1);
       }
 
       h3, .btn{
          opacity: 1;
       }
    }
 }

 .products-preview-container{
    position: fixed;
    top:0; left:0;
    z-index: 1200;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
 
    .product-preview{
       @include flex(center);
       background: $white;
       padding:9%;
       position: relative;
       display: none;
 
       .fa-times{
          position: absolute;
          top:32px; right:32px;
          font-size: 60px;
          cursor: pointer;
          color:$light-color;
 
          &:hover{
             color:$red;
             transform: rotate(90deg);
          }
       }
 
       .image{
          flex:1 1 640px;
 
          img{
             width: 100%;
          }
       }
 
       .content{
          flex:1 1 640px;
 
          h3{
             @include titleText(48px);
          }
 
          p{
             @include graphText(24px);
          }
 
          .stars{
             padding:16px 0;
             font-size: 27.2px;
 
             i{
                color:$red;
             }
 
             span{
                color:$light-color;
             }
          }
 
          .price{
             @include titleText(48px);
             padding:16px 0;
          }
       }
    }
 }

 .service {
     @include grid (480px);

     .box {
         text-align: center;
         padding: 32px;
     }

     i {
         font-size: 64px;
         margin-bottom: 16px;
         color: $red;
     }

     p {
         @include graphText(32px);

     }
 }

 .contact {
     .row {
         @include flex(center);

         form {
             flex: 1 1 656px;

             .box {
                 padding: 32px 0;
                 margin-bottom: 16px;
                 font-size: 25.6px;
                 border-bottom: $border;
                 width: 100%;

                 &:focus {
                     border-color: $red;
                 }
             }

             textarea {
                 height: 240px;
                 resize: none;
             }
         }

         .contact-info {
             flex: 1 1 656px;
             h3 {
                 padding-bottom: 16px;
                 font-size: 48px;
             }

             .grapgh {
                 @include graphText(24px);
             }
             
             .icons {
                 padding: 24px 0;
                 display: flex;
                 align-items: center;
                 gap: 24px;

                 i {
                     height: 80px;
                     width: 80px;
                     line-height: 80px;
                     border-radius: 50%;
                     font-size: 32px;
                     background: $red;
                     color: white;
                     text-align: center;
                 }

                 p {
                     @include graphText(24px);
                     padding: 0;
                 }
             }

             .share {
                 padding-top: 32px;

                 a {
                     font-size: 48px;
                     margin-right: 32px;
                     color: $light-color;

                     &:hover {
                         color: $red;
                     }
                 }
             }
         }
     }
 }
 

 @media (max-width:1200px){

    body.active{
       padding-left: 0;
    }
 
    header.active{
       box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
    }
 
 }
 
 @media (max-width:991px){
 
    html{
       font-size: 55%;
    }
 
    section{
       padding:3rem 2rem;
    }
 
 }
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 
    .banner .content h3{
       font-size: 3rem;
    }
 
    .products .slide img{
       height: 15rem;
    }
 
 }


